.app {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1;
  display: flex;
  overflow: hidden;
  gap: 10px;
  padding: 10px 0;
}

.app__sidebar {
  position: relative;
  width: 330px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid black;
}

.app__content {
  position: relative;
  flex: 1;
  padding: 10px;
  overflow: hidden;
  border: 1px solid black;
}

.app__meta {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .app {
    width: 100%;

    min-height: 100vh;
    min-height: 100svh;
    min-height: -webkit-fill-available;
  }

  .app__main {
    flex-direction: column;
    padding: 10px;
  }

  .app__sidebar {
    height: 20%;
    width: 100%;
    overflow-y: auto;
  }

  .app__content {
    overflow: scroll;
  }
}
