@font-face {
  font-family: "Absans";
  src: url("../../assets/fonts/Absans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Comic_CAT";
  src: url("../../assets/fonts/Comic_CAT.otf") format("opentype");
}
