:root {
  --font-primary: "Absans", system-ui, -apple-system, sans-serif;
  --font-secondary: "Comic_CAT", Georgia, serif;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.5;
}

.important {
  font-size: 80px;
  line-height: 1.5;
}

.logo {
  font-family: var(--font-secondary);
}

input {
  font-family: var(--font-secondary);
}

h1 {
  font-family: var(--font-secondary);
  font-size: 40px;
  line-height: 1;
  margin: 0;
}

@media (max-width: 800px) {
  html,
  body,
  #root {
    font-size: 14px;
  }

  .important {
    font-size: 25px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }
}
