.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  color: var(--color-primary);
  background-color: var(--color-bg);
  border: 1px solid var(--color-secondary);
  z-index: 1000;
}

@media (max-width: 800px) {
  .footer {
    height: 40px;
  }
}
