.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  color: white;
  background-color: #beaf9b;
  border: 1px solid black;
  z-index: 1000;
}

@media (max-width: 800px) {
  .footer {
    height: 40px;
  }
}
