.banner {
  width: auto;
  height: 100%;
  border: 1px solid black;
  position: relative;
}

.banner__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.banner__img--visible {
  opacity: 1;
}

.banner__content {
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.banner__meta {
  display: flex;
  justify-content: space-between;
}

.banner__title {
  text-align: right;
}

.banner__right {
  text-align: right;
}
