.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px 0 10px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-seconary);
  z-index: 1000;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo {
  font-size: 24px;
  color: var(--color-primary);
}

.header__search {
  width: 320px;
  display: flex;
}

.header__search-input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: 1px solid var(--color-seconary);
  font-size: 14px;
}

.header__favorites {
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.header__favorites-icon {
  width: 20px;
  height: 20px;
}

.header__favorites-badge {
  position: absolute;
  top: -10px;
  right: -15px;
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-seconary);
  color: var(--color-seconary);
  font-size: 10px;
  font-weight: 600;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .header {
    height: auto;
    padding: 10px;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .header__search {
    width: 100%;
  }
}
