@font-face {
  font-family: "Absans";
  src: url("../../assets/fonts/Absans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-bold.ttf") format("truetype");
  font-style: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-italic.ttf") format("truetype");
  font-style: italic;
}
