:root {
  --font-primary: "Absans", system-ui, -apple-system, sans-serif;
  --font-secondary: "Montserrat", Georgia, serif;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-family: var(--font-secondary);
  font-size: 40px;
  line-height: 1;
  margin: 0;
}

.logo,
input {
  font-family: var(--font-secondary);
}

.important {
  font-size: 60px;
  line-height: 1;
}

.text-accent {
  font-family: var(--font-secondary);
  font-style: italic;
}

@media (max-width: 800px) {
  html,
  body,
  #root {
    font-size: 14px;
  }

  .important {
    font-size: 20px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 16px;
  }
}
