.centered {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  gap: 16px;
}

.hidden {
  display: none;
}

.text-muted {
  color: var(--color-muted);
}
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.p-1 {
  padding: 8px;
}
.p-2 {
  padding: 16px;
}
