.app {
  height: 100vh;
  height: 100dvh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.app__main {
  flex: 1;
  display: flex;
  overflow: hidden;
  gap: 10px;
  padding: 10px 0;
}

.app__sidebar {
  position: relative;
  width: 330px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid var(--color-secondary);
}

.app__content {
  position: relative;
  flex: 1;
  padding: 10px;
  overflow: hidden;
  border: 1px solid var(--color-secondary);
}

.app__meta {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .app {
    width: 100%;

    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .app__main {
    flex-direction: column;
    padding: 10px;
  }

  .app__sidebar {
    height: 100px;
    width: 100%;
    overflow-y: auto;
  }

  .app__content {
    overflow-y: scroll;
  }
}
