.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
}

.list.has-scroll {
  padding-right: 10px;
}

.list::-webkit-scrollbar {
  width: 1px;
  padding-left: 10px;
}

.list::-webkit-scrollbar-track {
  background: var(--color-seconary);
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border: 1px solid var(--color-seconary);
  border-radius: 1px;
}
