.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
}

.list.has-scroll {
  padding-right: 10px;
}

.list::-webkit-scrollbar {
  width: 1px;
  padding-left: 10px;
}

.list::-webkit-scrollbar-track {
  background: black;
}

.list::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid black;
  border-radius: 1px;
}
