.favorites {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.favorites__question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.favorites__question p {
  text-align: right;
}
