.poster {
  width: 200px;
  border: 1px solid black;
}

.poster__image-wrapper {
  height: 100%;
  width: 100%;
}

.poster__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 800px) {
  .poster {
    width: 100%;
  }
}
