.poster {
  width: 200px;
  border: 1px solid var(--color-seconary);
  position: relative;
}

.poster__img-wrapper {
  height: 100%;
  width: 100%;
}

.poster__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.poster__img--visible {
  opacity: 1;
}

@media (max-width: 800px) {
  .poster {
    width: 100%;
    height: 500px;
  }
}
